/PROJECT/Monitoring Case Gangguan/nbproject/private/
/PROJECT/Monitoring Case Gangguan/build/
/PRAKTIKUM/PROJECT/Monitoring Case Gangguan/nbproject/private/
/PROJECT TUGAS AKHIR/Monitoring Case Gangguan/build/