/PROJECT/Monitoring Case Gangguan/nbproject/private/
/PROJECT/Monitoring Case Gangguan/build/
/PRAKTIKUM/PROJECT/Monitoring Case Gangguan/nbproject/private/
/PROJECT TUGAS AKHIR/Monitoring Case Gangguan/build/
/PRAKTIKUM/PROJECT/Monitoring Case Gangguan/build/
PRAKTIKUM/MODUL 1/ASISTENSI DOSEN/Monitoring Case Gangguan.rar
/PRAKTIKUM/MODUL 1/PROJECT/Monitoring_Case_Gangguan_Modul 1/nbproject/private/
/PRAKTIKUM/MODUL 1/PROJECT/Monitoring_Case_Gangguan_Modul 1/build/
/PRAKTIKUM/Pendahuluan2/nbproject/private/
/PRAKTIKUM/Modul 2/Pendahuluan2/nbproject/private/
/PRAKTIKUM/Modul 2/Pendahuluan2/build/
/PRAKTIKUM/Modul 2/Monitoring_Case_Gangguan_Modul_2/nbproject/private/
/PRAKTIKUM/Modul 2/Monitoring_Case_Gangguan_Modul_2/build/
/PRAKTIKUM/Modul 3/Pendahuluan3/nbproject/private/
/PRAKTIKUM/Modul 3/Monitoring_Case_Gangguan_Modul_3/nbproject/private/
/PRAKTIKUM/Modul 3/Monitoring_Case_Gangguan_Modul_3/build/
/PRAKTIKUM/Modul 4/Pendahuluan4/nbproject/private/
/PRAKTIKUM/Modul 4/Pendahuluan4/build/
/PRAKTIKUM/Modul 4/Monitoring_Case_Gangguan_Modul_4/nbproject/private/
/PRAKTIKUM/Modul 4/Monitoring_Case_Gangguan_Modul_4/build/
/PROJECT TUGAS AKHIR/Monitoring_Case_Gangguan_Modul_TA/nbproject/private/
/PROJECT TUGAS AKHIR/Monitoring_Case_Gangguan_Modul_TA/build/
/PROJECT TUGAS AKHIR/Monitoring_Case_Gangguan_Modul_TA/dist/